@import '../../assets/color.scss';
.setUp{
 background-color: $bgColor;
//  padding-top: 50px;
 min-height: 100vh;
 &_modu{
  margin: 20px;
  padding: 30px 20px;
  background-color: #fff;
  border-radius: 8PX;
  &_txt{
    font-size: 36px;
    color: #f2be45;
    margin-bottom: 15px;
    padding-left: 20px;
  }
 }

 .person{

  background-color: #3559df;
  display: flex;
  height: 300px;

  &_name{
    font-size: 46px;
    color: #fff;

    padding: 40px;
  }
  .person_img{
    width: 180px;
    height: 180px;
    border-radius: 180px;
    background-color: #061f7b;
    margin: 30px auto;
    overflow: hidden;
    .image{
      width: 100%;
      height: 100%;
    }
  }
  .des{
    color: #f1f1f1;
    font-size: 30px;
    margin-bottom: 40px;
  }
}
.marT40{
  margin-top: -60px!important;
}
}
