.cart{
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: #f1f1f1;
  box-shadow: 0 0 8px 0 rgba(197, 197, 197, 0.3);
  position: fixed;
  bottom: 90px;
  text-align: center;
  line-height: 80px;
  right: -10px;
}
.none{
  display: none;
}
