.InputNumber{
  display: flex;
  flex-direction: row;
  align-items: stretch;

  .input {
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 28px;
    padding: 3px;
    text-align: center;
    border:1px solid #999;
    color: #454545;
  }
  .addCart {
    border-left: 0px;
  }
  .reduceCart {
    border-right: 0px;
  }
}
