.left{
  padding: 15px 0px;

  .name{
    color: #454545;
    font-size: 30px;
    height: 62px;
    padding: 5px 0px;
    line-height: 62px;
    text-align: center;
  }
  .active{
    color: red;
  }
}
