@import '../../assets/color.scss';
.classPage{
  background-color: $bgColor;
  padding: 10px;

  &_list{
    margin: 20px;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px;
    &_title{
      color: #454545;
      font-size: 34px;
      margin-bottom: 10px;
    }
  }
  .u-pic{
    height: 370px;
    overflow: hidden;
    background-color: #999;
    border-radius: 8px;

    .img{
      width: 100%;
    }
  }
  .u-rcount{
    color: #999;
    margin-top: 10px;
    font-size: 22px;
  }

  .left{
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .u-pic{
      height: 170px!important;
      width: 270px;
    }
    .desc {
      color: #777;
      font-weight: normal;
      padding-top:7px;
      font-size: 28px;
    }
  }
}
