.right{
  background-color: #fff;

  .rightImage{
    width: 100px;
    height: 100px;
    background-color: #f9f9f9;
    border-radius: 200px;
    margin: 10px auto;
  }
  .name{
    color: #333;
    font-size: 28px;
    text-align: center;
  }
  .at-col{
    margin-bottom: 10px;
  }
}
